* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #000065, #0000ff);
  color: #fff;
  padding: 20px;
}

.container .calculator {
  width: 100%;
  max-width: 600px;
  margin-left: 10%;
  margin-top: 10%;
}

.container .calculator h1 {
  font-size: 60px;
}

.calculator h1 span {
  color: orange;
}

.container .calculator .inputbox {
  margin-top: 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  border: none;
  background-color: #000065;
  border-radius: 10px;
  justify-content: center;
}

.container .calculator .inputbox input::-webkit-calendar-picker-indicator {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: 95%;
  background-size: 30px;
  cursor: pointer;
}

.container .calculator .inputbox input {
  flex: 1;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  outline: 0;
  position: relative;
}

.container .calculator .inputbox button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
}

input,
button {
  color: #000065;
}

button {
  background: linear-gradient(180deg, #ffe100, #ffc800);
  font-weight: 600;
}
