*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    width: 100vh;
    background: linear-gradient(90deg,navy,blue);
}